$text-color: #373544;
$background-color: #f7f7f8;

$grey-darkest:        #171A1C;
$grey-dark:           #262a2d;
$grey-medium:         #5e6469;
$grey-light:          #a6a7ac;
$grey-lighter:        #e7e8e8;
$grey-lightest:       #f7f7f7;

$accent-1: #45aeb1;
$accent-1-dark: darken($accent-1, 10%);
$accent-2: #9854d8;